<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <restrictaccess>
            <general>
                <enabled>0</enabled>
                <message>You must be logged in to access the catalog.</message>
            </general>
            <catalog>
                <category>1</category>
                <product>1</product>
                <search>1</search>
            </catalog>
            <cms>
                <page></page>
                <message>You must be logged in to access the requested page.</message>
            </cms>
        </restrictaccess>
    </default>
</config>